In [84]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium import webdriver

# Chemin vers chromedriver.exe
service = Service("chromedriver.exe")

# Créer l'instance du driver Chrome
driver = webdriver.Chrome(service=service)
matches = []
driver.get("https://fr.wikipedia.org/wiki/Coupe_d%27Afrique_des_nations_de_football_2000")
tables = driver.find_elements(By.TAG_NAME, "table")

for table in tables:
    try:
        rows = table.find_elements(By.TAG_NAME, "tr")
        if len(rows) < 1:
            print("pas de rows")
            continue

        cells = rows[0].find_elements(By.TAG_NAME, "td")
        if len(cells) < 5:
            print("moin de 5 cells")
            continue

        score_text = cells[2].text
        score_text = score_text.replace("–", "-")
        print("score_text:", score_text)
        # Vérifier que c'est bien un match
        if "-" not in score_text:
            print("no - ")
            continue

        date = cells[0].text.strip()
        team_A = cells[1].text.strip()
        team_B = cells[3].text.strip()
        stadium = cells[4].text.strip()

        goals_A, goals_B = score_text.split("-")

        matches.append([
            date,
            team_A,
            team_B,
            goals_A.strip(),
            goals_B.strip(),
            stadium
        ])

    except:
        print("Erreur lors du traitement d'une table.")
        continue

moin de 5 cells
moin de 5 cells
moin de 5 cells
score_text: 1 - 1
score_text: 1 - 1
score_text: 2 - 0
score_text: 3 - 0
score_text: 0 - 2
score_text: 0 - 1
score_text: Pts
no -
score_text: 3 - 1
score_text: 0 - 0
score_text: 1 - 0
score_text: 3 - 1
score_text: 1 - 1
score_text: 0 - 0
score_text: Pts
no -
score_text: 2 - 0
score_text: 1 - 3
score_text: 1 - 0
score_text: 1 - 1
score_text: 4 - 2
score_text: 2 - 2
score_text: Pts
no -
score_text: 4 - 2
score_text: 1 - 0
score_text: 0 - 0
score_text: 0 - 0
score_text: 2 - 0
score_text: 1 - 0
score_text: Pts
no -
score_text:
no -
score_text: 2 - 1
score_text: 1 - 0
score_text: 0 - 1
score_text: 2 - 1 a. p.
score_text: 2 - 0
score_text: 3 - 0
score_text: 2 - 2 a. p.
score_text: 2 - 2 a. p.
moin de 5 cells
moin de 5 cells
moin de 5 cells
moin de 5 cells

In [11]:
import pandas as pd
df=pd.DataFrame(matches, columns=["date", "team_A", "team_B", "goals_A", "goals_B", "stadium"])
df.head(20)

,date,team_A,team_B,goals_A,goals_B,stadium
0,23 février 1972,Cameroun,Kenya,2,1,"Stade omnisports, Yaoundé"
1,24 février 1972,Mali,Togo,3,3,"Stade omnisports, Yaoundé"
2,26 février 1972,Mali,Kenya,1,1,"Stade omnisports, Yaoundé"
3,26 février 1972,Cameroun,Togo,2,0,"Stade omnisports, Yaoundé"
4,28 février 1972,Togo,Kenya,1,1,"Stade omnisports, Yaoundé"
5,28 février 1972,Cameroun,Mali,1,1,"Stade omnisports, Yaoundé"
6,25 février 1972,Congo,Maroc,1,1,"Stade de la Réunification, Douala"
7,25 février 1972,Zaïre,Soudan,1,1,"Stade de la Réunification, Douala"
8,27 février 1972,Maroc,Soudan,1,1,"Stade de la Réunification, Douala"
9,27 février 1972,Zaïre,Congo,2,0,"Stade de la Réunification, Douala"
10,29 février 1972,Maroc,Zaïre,1,1,"Stade de la Réunification, Douala"
11,29 février 1972,Congo,Soudan,4,2,"Stade de la Réunification, Douala"
12,2 mars 1972,Cameroun,Congo,0,1,"Stade omnisports, Yaoundé"
13,2 mars 1972,Zaïre,Mali,3,4,"Stade de la Réunification, Douala"
14,4 mars 1972,Cameroun,Zaïre,5,2,"Stade omnisports, Yaoundé"
15,5 mars 1972,Congo,Mali,3,2,"Stade omnisports, Yaoundé"

In [97]:
def get_data_for_year(driver, year):
    url = f"https://fr.wikipedia.org/wiki/Coupe_d%27Afrique_des_nations_de_football_{year}"
    year_matches = []

    try:
        driver.get(url)
        print(f"Scraping year {year}...")
    except:
        print(f"Error loading {year}")
        return []

    tables = driver.find_elements(By.TAG_NAME, "table")

    for table in tables:
        try:
            rows = table.find_elements(By.TAG_NAME, "tr")
            if not rows:
                print("pas de rows in year ", year)
                continue

            cells = rows[0].find_elements(By.TAG_NAME, "td")
            if len(cells) < 5:
                print("moin de 5 cells in year ", year)
                continue
                

            score_text = cells[2].text
            score_text = score_text.replace("–", "-")
            if "-" not in score_text:
                print("no - ",score_text ,year)
                continue
                

            date = cells[0].text.strip()
            team_A = cells[1].text.strip()
            team_B = cells[3].text.strip()
            stadium = cells[4].text.strip()

            goals_A, goals_B = score_text.split("-")

            year_matches.append([
                year,
                date,
                team_A,
                team_B,
                goals_A.strip(),
                goals_B.strip(),
                stadium
            ])

        except:
            print("Error processing a table in year ", year)
            continue

    return year_matches

In [98]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time

service = Service("chromedriver.exe")
driver = webdriver.Chrome(service=service)

matches = []
years = [
    1972, 1974, 1976,
    1978, 1980, 1982, 1984, 1986,
    1988, 1990, 1992, 1994, 1996,
    1998, 2000, 2002, 2004, 2006,
    2008, 2010, 2012, 2013, 2015,
    2017, 2019, 2021, 2023
]
for year in years:
    year_data = get_data_for_year(driver, year)
    matches.extend(year_data)
    time.sleep(1)  

driver.quit()

Scraping year 1972...
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
no -  Peter Schnittger 1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
no -  Adolphe Bibanzoulou 1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
moin de 5 cells in year  1972
Scraping year 1974...
moin de 5 cells in year  1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
no -  Dettmar Cramer 1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
no -  Blagoja Vidinić 1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
no -  Blagoja Vidinić 1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
moin de 5 cells in year  1974
Scraping year 1976...
moin de 5 cells in year  1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
no -  Petre Moldoveanu 1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
moin de 5 cells in year  1976
Scraping year 1978...
moin de 5 cells in year  1978
moin de 5 cells in year  1978
moin de 5 cells in year  1978
moin de 5 cells in year  1978
moin de 5 cells in year  1978
moin de 5 cells in year  1978
moin de 5 cells in year  1978
Scraping year 1980...
moin de 5 cells in year  1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
no -  Pts 1980
no -  Pts 1980
no -  Titulaires : 1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
moin de 5 cells in year  1980
Scraping year 1982...
moin de 5 cells in year  1982
moin de 5 cells in year  1982
moin de 5 cells in year  1982
no -  Pts 1982
no -  Pts 1982
moin de 5 cells in year  1982
moin de 5 cells in year  1982
moin de 5 cells in year  1982
moin de 5 cells in year  1982
moin de 5 cells in year  1982
Scraping year 1984...
moin de 5 cells in year  1984
moin de 5 cells in year  1984
moin de 5 cells in year  1984
no -  Pts 1984
no -  Pts 1984
moin de 5 cells in year  1984
moin de 5 cells in year  1984
moin de 5 cells in year  1984
moin de 5 cells in year  1984
moin de 5 cells in year  1984
Scraping year 1986...
moin de 5 cells in year  1986
moin de 5 cells in year  1986
moin de 5 cells in year  1986
no -  Pts 1986
no -  Pts 1986
moin de 5 cells in year  1986
moin de 5 cells in year  1986
moin de 5 cells in year  1986
moin de 5 cells in year  1986
Scraping year 1988...
moin de 5 cells in year  1988
moin de 5 cells in year  1988
moin de 5 cells in year  1988
no -  Pts 1988
no -  Pts 1988
moin de 5 cells in year  1988
moin de 5 cells in year  1988
moin de 5 cells in year  1988
moin de 5 cells in year  1988
moin de 5 cells in year  1988
Scraping year 1990...
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Remplaçants : 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Westerhof 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Abdelhamid Kermali 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Pts 1990
no -  Hans Peter 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Nypsyatchi 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Pts 1990
no -  msiska , mwanza , mwitwa , chansa , munba , mvanza 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -  Abdel Hamid Kermali Algérie 1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
no -   1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
moin de 5 cells in year  1990
Scraping year 1992...
moin de 5 cells in year  1992
moin de 5 cells in year  1992
no -  Pts 1992
no -  Pts 1992
no -  Pts 1992
no -  Pts 1992
no -   1992
moin de 5 cells in year  1992
moin de 5 cells in year  1992
moin de 5 cells in year  1992
moin de 5 cells in year  1992
moin de 5 cells in year  1992
Scraping year 1994...
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
moin de 5 cells in year  1994
Scraping year 1996...
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
no -  Pts 1996
no -  Pts 1996
no -  Pts 1996
no -  Pts 1996
no -   1996
no -  Clive Barker 1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
moin de 5 cells in year  1996
Scraping year 1998...
moin de 5 cells in year  1998
moin de 5 cells in year  1998
moin de 5 cells in year  1998
no -  Pts 1998
no -  Pts 1998
no -  Pts 1998
no -  Pts 1998
no -   1998
moin de 5 cells in year  1998
moin de 5 cells in year  1998
moin de 5 cells in year  1998
moin de 5 cells in year  1998
Scraping year 2000...
moin de 5 cells in year  2000
moin de 5 cells in year  2000
moin de 5 cells in year  2000
no -  Pts 2000
no -  Pts 2000
no -  Pts 2000
no -  Pts 2000
no -   2000
moin de 5 cells in year  2000
moin de 5 cells in year  2000
moin de 5 cells in year  2000
moin de 5 cells in year  2000
Scraping year 2002...
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
moin de 5 cells in year  2002
Scraping year 2004...
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
no -   2004
no -   2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
moin de 5 cells in year  2004
Scraping year 2006...
moin de 5 cells in year  2006
moin de 5 cells in year  2006
moin de 5 cells in year  2006
no -  Pts 2006
no -  Pts 2006
no -  Pts 2006
no -  Pts 2006
no -   2006
moin de 5 cells in year  2006
moin de 5 cells in year  2006
moin de 5 cells in year  2006
moin de 5 cells in year  2006
Scraping year 2008...
moin de 5 cells in year  2008
moin de 5 cells in year  2008
moin de 5 cells in year  2008
moin de 5 cells in year  2008
no -  1 2008
moin de 5 cells in year  2008
no -  2 2008
no -  1 2008
moin de 5 cells in year  2008
no -  0 2008
no -  1 2008
moin de 5 cells in year  2008
no -  4 2008
no -  1 2008
moin de 5 cells in year  2008
no -  2 2008
no -   2008
moin de 5 cells in year  2008
moin de 5 cells in year  2008
moin de 5 cells in year  2008
moin de 5 cells in year  2008
moin de 5 cells in year  2008
Scraping year 2010...
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
no -   2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
no -   2010
moin de 5 cells in year  2010
no -  GB 2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
moin de 5 cells in year  2010
Scraping year 2012...
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
no -   2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
moin de 5 cells in year  2012
Scraping year 2013...
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
no -   2013
moin de 5 cells in year  2013
no -  GB 2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
moin de 5 cells in year  2013
Scraping year 2015...
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
no -   2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
moin de 5 cells in year  2015
Scraping year 2017...
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
no -   2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
moin de 5 cells in year  2017
Scraping year 2019...
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
no -   2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
no -  Marco Ilaimaharitra
Mbark Boussoufa
Abdoulaye Diaby
Amadou Haidara
Moussa Marega
Diadie Samassékou
Adama Traoré I
Adama Traoré II
Moctar Sidi El Hacen
Joslin Kamatuka 2019
no -  Ayub Masika
Eric Johanna Omondi
Charles Andriamanitsinoro
Romain Métanire
Lalaina Nomenjanahary
Pascal Razakanantenaina
Nordin Amrabat
Mbark Boussoufa
Adama Traoré II
Diadie Samassékou 2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
moin de 5 cells in year  2019
Scraping year 2021...
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
no -  500 km
1:18 610 000 2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
no -   2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
moin de 5 cells in year  2021
Scraping year 2023...
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
no -   2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023
moin de 5 cells in year  2023

In [99]:
print(matches[0])

[1972, '23 février 1972', 'Cameroun', 'Kenya', '2', '1', 'Stade omnisports, Yaoundé']

In [100]:
import pandas as pd
df=pd.DataFrame(matches, columns=["year","date", "team_A", "team_B", "goals_A", "goals_B", "stadium"])
df.head(20)

,year,date,team_A,team_B,goals_A,goals_B,stadium
0,1972,23 février 1972,Cameroun,Kenya,2,1,"Stade omnisports, Yaoundé"
1,1972,24 février 1972,Mali,Togo,3,3,"Stade omnisports, Yaoundé"
2,1972,26 février 1972,Mali,Kenya,1,1,"Stade omnisports, Yaoundé"
3,1972,26 février 1972,Cameroun,Togo,2,0,"Stade omnisports, Yaoundé"
4,1972,28 février 1972,Togo,Kenya,1,1,"Stade omnisports, Yaoundé"
5,1972,28 février 1972,Cameroun,Mali,1,1,"Stade omnisports, Yaoundé"
6,1972,25 février 1972,Congo,Maroc,1,1,"Stade de la Réunification, Douala"
7,1972,25 février 1972,Zaïre,Soudan,1,1,"Stade de la Réunification, Douala"
8,1972,27 février 1972,Maroc,Soudan,1,1,"Stade de la Réunification, Douala"
9,1972,27 février 1972,Zaïre,Congo,2,0,"Stade de la Réunification, Douala"
10,1972,29 février 1972,Maroc,Zaïre,1,1,"Stade de la Réunification, Douala"
11,1972,29 février 1972,Congo,Soudan,4,2,"Stade de la Réunification, Douala"
12,1972,2 mars 1972,Cameroun,Congo,0,1,"Stade omnisports, Yaoundé"
13,1972,2 mars 1972,Zaïre,Mali,3,4,"Stade de la Réunification, Douala"
14,1972,4 mars 1972,Cameroun,Zaïre,5,2,"Stade omnisports, Yaoundé"
15,1972,5 mars 1972,Congo,Mali,3,2,"Stade omnisports, Yaoundé"
16,1974,1er mars 1974,Égypte,Ouganda,2,1,"Stade Nasser, Le Caire"
17,1974,2 mars 1974,Zambie,Côte d'Ivoire,1,0,"Stade d'El Mahalla, El Mahalla"
18,1974,4 mars 1974,Égypte,Zambie,3,1,"Stade Nasser, Le Caire"
19,1974,4 mars 1974,Côte d'Ivoire,Ouganda,2,2,"Stade d'El Mahalla, El Mahalla"

In [101]:
df.to_csv("can_matches.csv", index=False)

In [102]:
df.shape

(736, 7)

In [103]:
df.head()

,year,date,team_A,team_B,goals_A,goals_B,stadium
0,1972,23 février 1972,Cameroun,Kenya,2,1,"Stade omnisports, Yaoundé"
1,1972,24 février 1972,Mali,Togo,3,3,"Stade omnisports, Yaoundé"
2,1972,26 février 1972,Mali,Kenya,1,1,"Stade omnisports, Yaoundé"
3,1972,26 février 1972,Cameroun,Togo,2,0,"Stade omnisports, Yaoundé"
4,1972,28 février 1972,Togo,Kenya,1,1,"Stade omnisports, Yaoundé"

In [136]:
df_new = pd.DataFrame()

df_new["HomeTeam"] = df["team_A"]
df_new["AwayTeam"] = df["team_B"]
df_new["Year"] = df["year"]
df_new["HomeGoals"] = df["goals_A"]
df_new["AwayGoals"] = df["goals_B"]

In [137]:
df_new.to_csv("can_matches_cleaned.csv", index=False)

In [138]:
for year in years:
    print(year, len(df_new[df_new["Year"]==year]))

1972 16
1974 17
1976 18
1978 16
1980 16
1982 16
1984 16
1986 16
1988 16
1990 16
1992 20
1994 20
1996 29
1998 32
2000 32
2002 32
2004 32
2006 32
2008 31
2010 29
2012 32
2013 32
2015 32
2017 32
2019 52
2021 52
2023 52

In [139]:
df[df["year"]==2000]

,year,date,team_A,team_B,goals_A,goals_B,stadium
264,2000,22 janvier 2000,Ghana,Cameroun,1,1,"Accra Sports Stadium, Accra"
265,2000,24 janvier 2000,Côte d'Ivoire,Togo,1,1,"Accra Sports Stadium, Accra"
266,2000,27 janvier 2000,Ghana,Togo,2,0,"Accra Sports Stadium, Accra"
267,2000,28 janvier 2000,Cameroun,Côte d'Ivoire,3,0,"Accra Sports Stadium, Accra"
268,2000,31 janvier 2000,Ghana,Côte d'Ivoire,0,2,"Accra Sports Stadium, Accra"
269,2000,31 janvier 2000,Cameroun,Togo,0,1,"Kumasi Sports Stadium, Kumasi"
270,2000,23 janvier 2000,Afrique du Sud,Gabon,3,1,"Shiva N'Zigou, Kumasi"
271,2000,24 janvier 2000,RD Congo,Algérie,0,0,"Kumasi Sports Stadium, Kumasi"
272,2000,27 janvier 2000,Afrique du Sud,RD Congo,1,0,"Kumasi Sports Stadium, Kumasi"
273,2000,29 janvier 2000,Algérie,Gabon,3,1,"Kumasi Sports Stadium, Kumasi"
274,2000,2 février 2000,Afrique du Sud,Algérie,1,1,"Kumasi Sports Stadium, Kumasi"
275,2000,2 février 2000,RD Congo,Gabon,0,0,"Accra Sports Stadium, Accra"
276,2000,23 janvier 2000,Égypte,Zambie,2,0,"Sani Abacha Stadium, Kano"
277,2000,25 janvier 2000,Burkina Faso,Sénégal,1,3,"Sani Abacha Stadium, Kano"
278,2000,28 janvier 2000,Égypte,Sénégal,1,0,"Sani Abacha Stadium, Kano"
279,2000,29 janvier 2000,Zambie,Burkina Faso,1,1,"Sani Abacha Stadium, Kano"
280,2000,2 février 2000,Égypte,Burkina Faso,4,2,"Sani Abacha Stadium, Kano"
281,2000,2 février 2000,Zambie,Sénégal,2,2,"National Stadium, Lagos"
282,2000,23 janvier 2000,Nigeria,Tunisie,4,2,"National Stadium, Lagos"
283,2000,25 janvier 2000,Maroc,Congo,1,0,"National Stadium, Lagos"
284,2000,28 janvier 2000,Nigeria,Congo,0,0,"National Stadium, Lagos"
285,2000,29 janvier 2000,Tunisie,Maroc,0,0,"National Stadium, Lagos"
286,2000,3 février 2000,Nigeria,Maroc,2,0,"National Stadium, Lagos"
287,2000,3 février 2000,Tunisie,Congo,1,0,"Sani Abacha Stadium, Kano"
288,2000,6 février 2000,Cameroun,Algérie,2,1,"Accra Sports Stadium, Accra"
289,2000,6 février 2000,Afrique du Sud,Ghana,1,0,"Kumasi Sports Stadium, Kumasi"
290,2000,7 février 2000,Égypte,Tunisie,0,1,"Sani Abacha Stadium, Kano"
291,2000,7 février 2000,Nigeria,Sénégal,2,1 a. p.,"National Stadium, Lagos"
292,2000,10 février 2000,Nigeria,Afrique du Sud,2,0,"National Stadium, Lagos"
293,2000,10 février 2000,Cameroun,Tunisie,3,0,"Accra Sports Stadium, Accra"
294,2000,12 février 2000,Afrique du Sud,Tunisie,2,2 a. p.,"Accra Sports Stadium, Accra"
295,2000,13 février 2000,Nigeria,Cameroun,2,2 a. p.,"National Stadium, Lagos"

Apres verifification on remarque que le problème vient du fait que if "-" not in score_text:
continue caractère tiret normal ASCII "-"  (U+002D), <b>2 – 1</b>, ➡️ caractère tiret long (EN DASH),"–"  (U+2013),"-" != "–"

In [140]:
df_new.head()

   HomeTeam AwayTeam  Year HomeGoals AwayGoals
0  Cameroun    Kenya  1972         2         1
1      Mali     Togo  1972         3         3
2      Mali    Kenya  1972         1         1
3  Cameroun     Togo  1972         2         0
4      Togo    Kenya  1972         1         1

In [141]:
c='2 a. p.'
print(c.split(" "))

['2', 'a.', 'p.']

In [142]:
#boucle sur les lignes de AwayGoals et HomeGoals 
cmp=0
for index, row in df_new.iterrows():
    home_goals = row["HomeGoals"]
    away_goals = row["AwayGoals"]
    # Faites quelque chose avec away_goals or home_goals
    if len(away_goals.split(" ")) > 1 or len(home_goals.split(" ")) > 1:
        print("HomeGoals:", home_goals.split(" ") , "AwayGoals:" , away_goals.split(" "))
        cmp+=1
print("Total with spaces in AwayGoals:", cmp)

HomeGoals: ['2'] AwayGoals: ['0\n(tapis', 'vert)[1]']
HomeGoals: ['2'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['3'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['4'] AwayGoals: ['4', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['3'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['3', '(a.p.)']
HomeGoals: ['2'] AwayGoals: ['3', 'a.p.']
HomeGoals: ['3'] AwayGoals: ['1', 'a.p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['2', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['1'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['2'] AwayGoals: ['1', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
HomeGoals: ['0'] AwayGoals: ['0', 'a.', 'p.']
Total with spaces in AwayGoals: 53

In [143]:
#boucle sur les lignes de AwayGoals pour correction
for index, row in df_new.iterrows():
    away_goals = row["AwayGoals"]
    if len(away_goals.split(" ")) > 1:
        corrected_away_goals = away_goals.split(" ")[0]
        df_new.at[index, "AwayGoals"] = corrected_away_goals

In [144]:
#boucle sur les lignes de AwayGoals et HomeGoals pour vérification
cmp=0
for index, row in df_new.iterrows():
    home_goals = row["HomeGoals"]
    away_goals = row["AwayGoals"]
    # Faites quelque chose avec away_goals or home_goals
    if len(away_goals.split(" ")) > 1 or len(home_goals.split(" ")) > 1:
        print("HomeGoals:", home_goals.split(" ") , "AwayGoals:" , away_goals.split(" "))
        cmp+=1
print("Total with problem :", cmp)

Total with problem : 0

In [145]:
#vérification des valeurs int dans HomeGoals et AwayGoals
for index, row in df_new.iterrows():
    try:
        home_goals = int(row["HomeGoals"])
        away_goals = int(row["AwayGoals"])
    except ValueError:
        print(f"Non-integer value found at index {index}: HomeGoals={row['HomeGoals']}, AwayGoals={row['AwayGoals']}")

Non-integer value found at index 31: HomeGoals=2, AwayGoals=2
a.p.
Non-integer value found at index 65: HomeGoals=2, AwayGoals=0
(tapis

In [148]:
#voir le problème
print(df_new.iloc[31])
print(df_new.iloc[65])

HomeTeam       Zaïre
AwayTeam      Zambie
Year            1974
HomeGoals          2
AwayGoals    2\na.p.
Name: 31, dtype: object
HomeTeam       Nigeria
AwayTeam       Tunisie
Year              1978
HomeGoals            2
AwayGoals    0\n(tapis
Name: 65, dtype: object

In [149]:
df_new.at[31, "AwayGoals"] = 2
df_new.at[65, "AwayGoals"] = 0

In [152]:
#vérification des valeurs int dans HomeGoals et AwayGoals
for index, row in df_new.iterrows():
    try:
        home_goals = int(row["HomeGoals"])
        away_goals = int(row["AwayGoals"])
    except ValueError:
        print(f"Non-integer value found at index {index}: HomeGoals={row['HomeGoals']}, AwayGoals={row['AwayGoals']}")

In [155]:
df_new["TotalGoals"] = df_new["HomeGoals"].astype(int) + df_new["AwayGoals"].astype(int)

In [ ]:
df_new.to_csv("can_matches_cleaned_final.csv", index=False)

In [168]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

service = Service("chromedriver.exe")
driver = webdriver.Chrome(service=service)


url = f"https://fr.wikipedia.org/wiki/Coupe_d%27Afrique_des_nations_de_football_2025"
matches_2025 = []


try:
    driver.get(url)
    print(f"Scraping year 2025...")
except:
    print(f"Error loading 2025")

tables = driver.find_elements(By.TAG_NAME, "table")

for table in tables:
        try:
            rows = table.find_elements(By.TAG_NAME, "tr")
            if not rows:
                print("pas de rows in year ", 2025)
                continue

            cells = rows[0].find_elements(By.TAG_NAME, "td")
            if len(cells) < 5:
                print("moin de 5 cells in year ", 2025)
                continue
            
            if "-" not in score_text:
                print("no - ",score_text ,year)
                continue
                

            match_number = cells[0].text.strip()
            team_A = cells[1].text.strip()
            team_B = cells[3].text.strip()
            stadium = cells[4].text.strip()

            matches_2025.append([
                2025,
                match_number,
                team_A,
                team_B,
                '',
                '',
                stadium
            ])

        except:
            print("Error processing a table in year ", 2025)
            continue

Scraping year 2025...
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025
moin de 5 cells in year  2025

In [169]:
print(len(matches_2025))

53

In [170]:
df_matches_2025 = pd.DataFrame(matches_2025, columns=["year","match_number", "team_A", "team_B", "goals_A", "goals_B", "stadium"])

In [172]:
df_matches_2025.head(100)

,year,match_number,team_A,team_B,goals_A,goals_B,stadium
0,2025,Match 1 (Match d'ouverture),Maroc,Comores,,,"Stade Prince Moulay Abdellah, Rabat"
1,2025,Match 2,Mali,Zambie,,,"Stade Mohammed-V, Casablanca"
2,2025,Match 13,Maroc,Mali,,,"Stade Prince Moulay Abdellah, Rabat"
3,2025,Match 14,Zambie,Comores,,,"Stade Mohammed-V, Casablanca"
4,2025,Match 25,Zambie,Maroc,,,"Stade Prince Moulay Abdellah, Rabat"
5,2025,Match 26,Comores,Mali,,,"Stade Mohammed-V, Casablanca"
6,2025,Match 3,Égypte,Zimbabwe,,,"Stade Adrar, Agadir"
7,2025,Match 4,Afrique du Sud,Angola,,,"Stade de Marrakech, Marrakech"
8,2025,Match 15,Égypte,Afrique du Sud,,,"Stade Adrar, Agadir"
9,2025,Match 16,Zimbabwe,Angola,,,"Stade de Marrakech, Marrakech"
10,2025,Match 27,Angola,Égypte,,,"Stade Adrar, Agadir"
11,2025,Match 28,Zimbabwe,Afrique du Sud,,,"Stade de Marrakech, Marrakech"
12,2025,Match 5,Nigeria,Tanzanie,,,"Complexe sportif de Fès, Fès"
13,2025,Match 6,Tunisie,Ouganda,,,"Stade olympique de Rabat, Rabat"
14,2025,Match 17,Nigeria,Tunisie,,,"Complexe sportif de Fès, Fès"
15,2025,Match 18,Ouganda,Tanzanie,,,"Stade El Madina, Rabat"
16,2025,Match 29,Ouganda,Nigeria,,,"Complexe sportif de Fès, Fès"
17,2025,Match 30,Tanzanie,Tunisie,,,"Stade olympique de Rabat, Rabat"
18,2025,Match 7,Sénégal,Botswana,,,"Stade Ibn-Batouta, Tanger"
19,2025,Match 8,RD Congo,Bénin,,,"Stade El Madina, Rabat"
20,2025,Match 19,Sénégal,RD Congo,,,"Stade Ibn-Batouta, Tanger"
21,2025,Match 20,Bénin,Botswana,,,"Stade El Madina, Rabat"
22,2025,Match 31,Bénin,Sénégal,,,"Stade Ibn-Batouta, Tanger"
23,2025,Match 32,Botswana,RD Congo,,,"Stade El Madina, Rabat"
24,2025,Match 9,Algérie,Soudan,,,"Stade Moulay Hassan, Rabat"
25,2025,Match 10,Burkina Faso,Guinée équatoriale,,,"Stade Mohammed-V, Casablanca"
26,2025,Match 21,Algérie,Burkina Faso,,,"Stade Moulay Hassan, Rabat"
27,2025,Match 22,Guinée équatoriale,Soudan,,,"Stade Mohammed-V, Casablanca"
28,2025,Match 33,Guinée équatoriale,Algérie,,,"Stade Moulay Hassan, Rabat"
29,2025,Match 34,Soudan,Burkina Faso,,,"Stade Mohammed-V, Casablanca"
30,2025,Match 11,Côte d'Ivoire,Mozambique,,,"Stade de Marrakech, Marrakech"
31,2025,Match 12,Cameroun,Gabon,,,"Stade Adrar, Agadir"
32,2025,Match 23,Côte d'Ivoire,Cameroun,,,"Stade de Marrakech, Marrakech"
33,2025,Match 24,Gabon,Mozambique,,,"Stade Adrar, Agadir"
34,2025,Match 35,Gabon,Côte d'Ivoire,,,"Stade de Marrakech, Marrakech"
35,2025,Match 36,Mozambique,Cameroun,,,"Stade Adrar, Agadir"
36,2025,,Huitièmes de finale,Quarts de finale,,,
37,2025,Match 37,1er du groupe D,3e du groupe B/E/F,,,"Stade Ibn-Batouta, Tanger"
38,2025,Match 38,2e du groupe A,2ème Groupe C,,,"Stade Mohammed-V, Casablanca"
39,2025,Match 39,1er du groupe A,3e du groupe C/D/E,,,"Stade Prince Moulay Abdellah, Rabat"
40,2025,Match 40,2e du groupe B,2e du groupe F,,,"Stade El Madina, Rabat"
41,2025,Match 41,1er du groupe B,3e du groupe A/C/D,,,"Stade Adrar, Agadir"
42,2025,Match 42,1er du groupe C,3e du groupe A/B/F,,,"Complexe sportif de Fès, Fès"
43,2025,Match 43,1er du groupe E,2e du groupe D,,,"Stade Moulay Hassan, Rabat"
44,2025,Match 44,1er du groupe F,2e du groupe E,,,"Stade de Marrakech, Marrakech"
45,2025,Match 45,Vainqueur Match 38,Vainqueur Match 37,,,"Stade Ibn-Batouta, Tanger"
46,2025,Match 46,Vainqueur Match 40,Vainqueur Match 39,,,"Stade de Marrakech, Marrakech"
47,2025,Match 47,Vainqueur Match 43,Vainqueur Match 42,,,"Stade Prince Moulay Abdellah, Rabat"
48,2025,Match 48,Vainqueur Match 41,Vainqueur Match 44,,,"Stade Adrar, Agadir"
49,2025,Match 49,Vainqueur Match 45,Vainqueur Match 48,,,"Stade Ibn-Batouta, Tanger"
50,2025,Match 50,Vainqueur Match 47,Vainqueur Match 46,,,"Stade Prince Moulay Abdellah, Rabat"
51,2025,Match 51,Perdant Match 49,Perdant Match 50,,,"Stade Mohammed-V, Casablanca"
52,2025,Match 52,Vainqueur Match 49,Vainqueur Match 50,,,"Stade Prince Moulay Abdellah, Rabat"

In [173]:
#supprimer ligne 36 qui ne présente pas un match
df_matches_2025 = df_matches_2025.drop(index=36)

In [177]:
df_new_matches_2025 = pd.DataFrame()

df_new_matches_2025["HomeTeam"] = df_matches_2025["team_A"]
df_new_matches_2025["AwayTeam"] = df_matches_2025["team_B"]
df_new_matches_2025["Year"] = df_matches_2025["year"]
df_new_matches_2025["HomeGoals"] = df_matches_2025["goals_A"]
df_new_matches_2025["AwayGoals"] = df_matches_2025["goals_B"]
df_new_matches_2025["match_number"] = df_matches_2025["match_number"]

In [178]:
df_new_matches_2025.at[0,"match_number"]="Match 1"

In [214]:
df_new_matches_2025

,HomeTeam,AwayTeam,Year,HomeGoals,AwayGoals,match_number
0,Maroc,Comores,2025,,,Match 1
1,Mali,Zambie,2025,,,Match 2
2,Maroc,Mali,2025,,,Match 13
3,Zambie,Comores,2025,,,Match 14
4,Zambie,Maroc,2025,,,Match 25
5,Comores,Mali,2025,,,Match 26
6,Égypte,Zimbabwe,2025,,,Match 3
7,Afrique du Sud,Angola,2025,,,Match 4
8,Égypte,Afrique du Sud,2025,,,Match 15
9,Zimbabwe,Angola,2025,,,Match 16
10,Angola,Égypte,2025,,,Match 27
11,Zimbabwe,Afrique du Sud,2025,,,Match 28
12,Nigeria,Tanzanie,2025,,,Match 5
13,Tunisie,Ouganda,2025,,,Match 6
14,Nigeria,Tunisie,2025,,,Match 17
15,Ouganda,Tanzanie,2025,,,Match 18
16,Ouganda,Nigeria,2025,,,Match 29
17,Tanzanie,Tunisie,2025,,,Match 30
18,Sénégal,Botswana,2025,,,Match 7
19,RD Congo,Bénin,2025,,,Match 8
20,Sénégal,RD Congo,2025,,,Match 19
21,Bénin,Botswana,2025,,,Match 20
22,Bénin,Sénégal,2025,,,Match 31
23,Botswana,RD Congo,2025,,,Match 32
24,Algérie,Soudan,2025,,,Match 9
25,Burkina Faso,Guinée équatoriale,2025,,,Match 10
26,Algérie,Burkina Faso,2025,,,Match 21
27,Guinée équatoriale,Soudan,2025,,,Match 22
28,Guinée équatoriale,Algérie,2025,,,Match 33
29,Soudan,Burkina Faso,2025,,,Match 34
30,Côte d'Ivoire,Mozambique,2025,,,Match 11
31,Cameroun,Gabon,2025,,,Match 12
32,Côte d'Ivoire,Cameroun,2025,,,Match 23
33,Gabon,Mozambique,2025,,,Match 24
34,Gabon,Côte d'Ivoire,2025,,,Match 35
35,Mozambique,Cameroun,2025,,,Match 36
37,1er du groupe D,3e du groupe B/E/F,2025,,,Match 37
38,2e du groupe A,2ème Groupe C,2025,,,Match 38
39,1er du groupe A,3e du groupe C/D/E,2025,,,Match 39
40,2e du groupe B,2e du groupe F,2025,,,Match 40
41,1er du groupe B,3e du groupe A/C/D,2025,,,Match 41
42,1er du groupe C,3e du groupe A/B/F,2025,,,Match 42
43,1er du groupe E,2e du groupe D,2025,,,Match 43
44,1er du groupe F,2e du groupe E,2025,,,Match 44
45,Vainqueur Match 38,Vainqueur Match 37,2025,,,Match 45
46,Vainqueur Match 40,Vainqueur Match 39,2025,,,Match 46
47,Vainqueur Match 43,Vainqueur Match 42,2025,,,Match 47
48,Vainqueur Match 41,Vainqueur Match 44,2025,,,Match 48
49,Vainqueur Match 45,Vainqueur Match 48,2025,,,Match 49
50,Vainqueur Match 47,Vainqueur Match 46,2025,,,Match 50
51,Perdant Match 49,Perdant Match 50,2025,,,Match 51
52,Vainqueur Match 49,Vainqueur Match 50,2025,,,Match 52

In [180]:
df_new_matches_2025.to_csv("can_matches_2025.csv", index=False)

### scraping group_tables

In [ ]:

service = Service("chromedriver.exe")
driver = webdriver.Chrome(service=service)
try:
    driver.get(url)
    print(f"Scraping year 2025...")
except:
    print(f"Error loading 2025")

tables = driver.find_elements(By.CSS_SELECTOR, "table.wikitable.centre")
group_tables = []

for table in tables:
    try:
        caption = table.find_element(By.TAG_NAME, "caption").text
        if "Classement" in caption:
            tbody = table.find_element(By.TAG_NAME, "tbody")
            group_tables.append(tbody)
    except:
        continue
driver.quit()
print(f"Found {len(group_tables)} group tables.")

Scraping year 2025...
Found 6 group tables.

In [195]:
import pandas as pd
from string import ascii_uppercase as alphabet

df_group_tables = {}

for tbody in group_tables:
    rows = tbody.find_elements(By.TAG_NAME, "tr")

    data = []

    for row in rows:
        cells = row.find_elements(By.TAG_NAME, "td")

        # Lignes valides = 10 colonnes
        if len(cells) != 10:
            continue

        row_data = []

        for cell in cells:
            row_data.append(cell.text.strip())

        data.append(row_data)

    # Colonnes fixes (CAN = toujours les mêmes)
    columns = [
        "Rang", "Équipe", "Pts", "J",
        "G", "N", "P",
        "Bp", "Bc", "Diff"
    ]

    df = pd.DataFrame(data, columns=columns)
    df_group_tables[f"Group_{alphabet[len(df_group_tables)]}"] = df
print(f"Extracted {len(df_group_tables)} dataframes from group tables.")

Extracted 6 dataframes from group tables.

In [196]:
df_group_tables["Group_A"]

  Rang   Équipe Pts  J  G  N  P Bp Bc Diff
0    1  Maroc H   3  1  1  0  0  2  0   +2
1    2     Mali   0  0  0  0  0  0  0    0
2    3   Zambie   0  0  0  0  0  0  0    0
3    4  Comores   0  1  0  0  1  0  2   -2

In [197]:
# rendre tous les valeurs 0 pour group A
for index, row in df_group_tables["Group_A"].iterrows():
    for col in df_group_tables["Group_A"].columns:
        if col == "Équipe" or col == "Rang":
            continue
        df_group_tables["Group_A"].at[index, col] = 0

In [198]:
df_group_tables['Group_A']

  Rang   Équipe Pts  J  G  N  P Bp Bc Diff
0    1  Maroc H   0  0  0  0  0  0  0    0
1    2     Mali   0  0  0  0  0  0  0    0
2    3   Zambie   0  0  0  0  0  0  0    0
3    4  Comores   0  0  0  0  0  0  0    0

In [199]:
df_group_tables.keys()

dict_keys(['Group_A', 'Group_B', 'Group_C', 'Group_D', 'Group_E', 'Group_F'])

In [202]:
import pickle
with open('can_group_tables.pkl', 'wb') as output:
    pickle.dump(df_group_tables, output)

In [2]:
import pandas as pd

In [26]:
#importer can_matches_cleaned_final.csv
df_historical_data = pd.read_csv("can_matches_cleaned_final.csv")

In [35]:
print(len(df_historical_data["AwayTeam"].unique()))
print(len(df_historical_data["HomeTeam"].unique()))
unique_away_teams = df_historical_data["AwayTeam"].unique()
unique_home_teams = df_historical_data["HomeTeam"].unique()
all_unique_teams = set(unique_away_teams).union(set(unique_home_teams))
print(f"Total unique teams: {len(all_unique_teams)}")
print(all_unique_teams)

54
51
Total unique teams: 62
{'Angola', 'Guinée', 'Malawi', 'Mali', 'Nigeria\nVainqueur du troisième quart', 'Maroc', 'Guinée équatoriale', 'Tunisie\nVainqueur du groupe A', 'Cameroun', 'Égypte', 'Mauritanie', 'Nigeria\nSecond du groupe D', 'Sénégal', 'Togo', 'Rwanda', 'Tunisie', 'Mali\nVainqueur du groupe B', 'Maroc\nVainqueur du groupe D', 'Niger', 'Burkina Faso', 'Burundi', 'Botswana', 'Libye', 'Zambie', 'Algérie', 'Guinée\nSecond du groupe A', 'Zimbabwe', 'Mali\nPerdant de la seconde demi-finale', 'Ghana', 'Gambie', 'Tanzanie', 'Cameroun\nVainqueur du groupe C', 'Maurice', 'Haute-Volta', 'Sénégal\nSecond du groupe B', 'Nigeria\nPerdant de la première demi-finale', 'RD Congo', 'Sierra Leone', 'Gabon', 'Congo', 'Tunisie\nVainqueur du premier quart', 'Bénin', 'Algérie\nSecond du groupe C', 'Ouganda', 'Zaïre', 'Maroc\nVainqueur de la seconde demi-finale', 'Tunisie\nVainqueur de la première demi-finale', 'Liberia', 'Afrique du Sud', 'Nigeria', 'Maroc\nVainqueur du quatrième quart', 'Soudan', 'Kenya', "Côte d'Ivoire", 'Éthiopie', 'Mozambique', 'Namibie', 'Cap-Vert', 'Guinée-Bissau', 'Mali\nVainqueur du deuxième quart', 'Comores', 'Madagascar'}

In [37]:
# filter all_unique_teams pour supprimer les noms d'équipes incorrects
faux_noms = ["Vainqueur", "\n", "vainqueur", "Second", "seconde","Perdant "]
# retirer les nomes de la liste contenant un des faux noms
for team in list(all_unique_teams):
    for faux in faux_noms:
        if faux in team:
            all_unique_teams.remove(team)
            break
print(all_unique_teams)
print(f"Filtered unique teams: {len(all_unique_teams)}")

{'Angola', 'Guinée', 'Malawi', 'Mali', 'Maroc', 'Guinée équatoriale', 'Cameroun', 'Égypte', 'Mauritanie', 'Sénégal', 'Togo', 'Rwanda', 'Tunisie', 'Niger', 'Burkina Faso', 'Burundi', 'Botswana', 'Libye', 'Zambie', 'Algérie', 'Zimbabwe', 'Ghana', 'Gambie', 'Tanzanie', 'Maurice', 'Haute-Volta', 'RD Congo', 'Sierra Leone', 'Gabon', 'Congo', 'Bénin', 'Ouganda', 'Zaïre', 'Liberia', 'Afrique du Sud', 'Nigeria', 'Soudan', 'Kenya', "Côte d'Ivoire", 'Éthiopie', 'Mozambique', 'Namibie', 'Cap-Vert', 'Guinée-Bissau', 'Comores', 'Madagascar'}
Filtered unique teams: 46

In [38]:
#corriger les faux noms dans df_historical_data
for index, row in df_historical_data.iterrows():
    home_team = row["HomeTeam"]
    away_team = row["AwayTeam"]
    
    # Corriger HomeTeam
    if home_team not in all_unique_teams:
        for team in all_unique_teams:
            if team in home_team:
                df_historical_data.at[index, "HomeTeam"] = team
                break
    
    # Corriger AwayTeam
    if away_team not in all_unique_teams:
        for team in all_unique_teams:
            if team in away_team:
                df_historical_data.at[index, "AwayTeam"] = team
                break

In [40]:
# Vérifier les corrections
for index, row in df_historical_data.iterrows():
    home_team = row["HomeTeam"]
    away_team = row["AwayTeam"]
    
    if home_team not in all_unique_teams:
        print(f"Uncorrected HomeTeam at index {index}: {home_team}")
    
    if away_team not in all_unique_teams:
        print(f"Uncorrected AwayTeam at index {index}: {away_team}")

In [41]:
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength.head(20)

                    GoalsScored  GoalsConceded
Team
Afrique du Sud         1.100000       0.960000
Algérie                1.194805       1.129870
Angola                 1.258065       1.387097
Botswana               0.666667       3.000000
Burkina Faso           1.000000       1.408163
Burundi                0.000000       1.333333
Bénin                  0.500000       1.714286
Cameroun               1.483516       0.923077
Cap-Vert               0.875000       0.750000
Comores                1.000000       1.750000
Congo                  1.086957       1.391304
Côte d'Ivoire          1.365591       0.989247
Gabon                  0.960000       1.200000
Gambie                 0.750000       1.250000
Ghana                  1.157303       0.842697
Guinée                 1.244898       1.326531
Guinée équatoriale     1.052632       0.947368
Guinée-Bissau          0.333333       1.583333
Haute-Volta            0.666667       3.000000
Kenya                  0.647059       1.823529

In [54]:
df_team_strength.loc['Maroc']

GoalsScored      1.175676
GoalsConceded    0.891892
Name: Maroc, dtype: float64

In [42]:
print(len(df_team_strength))

46

In [46]:
from scipy.stats import poisson

In [49]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home,'GoalsScored'] * df_team_strength.at[away,'GoalsConceded']
        lamb_away = df_team_strength.at[away,'GoalsScored'] * df_team_strength.at[home,'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (float(points_home), float(points_away))
    else:
        return (0, 0)

In [62]:
# test avec quelques matches
print(f"match 1: {predict_points('Maroc', 'Cameroun')}")
print(f"match 2: {predict_points('Algérie', "Côte d'Ivoire")}")
print(f"match 3: {predict_points('Égypte', 'Nigeria')}")
print(f"match 3: {predict_points('Maroc', 'Botswana')}")

match 1: (1.190779998921784, 1.5356067329827199)
match 2: (1.1267847205198476, 1.6212073336134427)
match 3: (1.3747428739030254, 1.344732880798671)
match 3: (2.75953431731429, 0.16440610036544218)

In [87]:
#import les matches de 2025
df_fixture= pd.read_csv("can_matches_2025.csv")

In [88]:
# Diviser les matchs de 2025 par phases
df_fixture_group = df_fixture[:36].copy()  # Phase de groupe (36 matchs)
df_fixture_8 = df_fixture[36:44].copy()  # Huitièmes de finale (8 matchs)
df_fixture_quarter = df_fixture[44:48].copy()  # Quarts de finale (4 matchs)
df_fixture_semi = df_fixture[48:50].copy()  # Demi-finales (2 matchs)
df_fixture_final = df_fixture[50:].copy()  # Finales (2 matchs)

print(f"Phase de groupe: {len(df_fixture_group)} matchs")
print(f"Huitièmes: {len(df_fixture_8)} matchs")
print(f"Quarts: {len(df_fixture_quarter)} matchs")
print(f"Demi-finales: {len(df_fixture_semi)} matchs")
print(f"Finales: {len(df_fixture_final)} matchs")

Phase de groupe: 36 matchs
Huitièmes: 8 matchs
Quarts: 4 matchs
Demi-finales: 2 matchs
Finales: 2 matchs

In [89]:
df_fixture_8

,HomeTeam,AwayTeam,Year,HomeGoals,AwayGoals,match_number
36,1er du groupe D,3e du groupe B/E/F,2025,NaN,NaN,Match 37
37,2e du groupe A,2e du groupe C,2025,NaN,NaN,Match 38
38,1er du groupe A,3e du groupe C/D/E,2025,NaN,NaN,Match 39
39,2e du groupe B,2e du groupe F,2025,NaN,NaN,Match 40
40,1er du groupe B,3e du groupe A/C/D,2025,NaN,NaN,Match 41
41,1er du groupe C,3e du groupe A/B/F,2025,NaN,NaN,Match 42
42,1er du groupe E,2e du groupe D,2025,NaN,NaN,Match 43
43,1er du groupe F,2e du groupe E,2025,NaN,NaN,Match 44

In [90]:
import pickle

In [91]:
dict_table = pickle.load(open('can_group_tables.pkl','rb'))

In [92]:
dict_table

{'Group_A':   Rang   Équipe Pts  J  G  N  P Bp Bc Diff
 0    1  Maroc H   0  0  0  0  0  0  0    0
 1    2     Mali   0  0  0  0  0  0  0    0
 2    3   Zambie   0  0  0  0  0  0  0    0
 3    4  Comores   0  0  0  0  0  0  0    0,
 'Group_B':   Rang          Équipe Pts  J  G  N  P Bp Bc Diff
 0    1          Égypte   0  0  0  0  0  0  0    0
 1    2  Afrique du Sud   0  0  0  0  0  0  0    0
 2    3          Angola   0  0  0  0  0  0  0    0
 3    4        Zimbabwe   0  0  0  0  0  0  0    0,
 'Group_C':   Rang    Équipe Pts  J  G  N  P Bp Bc Diff
 0    1   Nigeria   0  0  0  0  0  0  0    0
 1    2   Tunisie   0  0  0  0  0  0  0    0
 2    3   Ouganda   0  0  0  0  0  0  0    0
 3    4  Tanzanie   0  0  0  0  0  0  0    0,
 'Group_D':   Rang    Équipe Pts  J  G  N  P Bp Bc Diff
 0    1   Sénégal   0  0  0  0  0  0  0    0
 1    2  RD Congo   0  0  0  0  0  0  0    0
 2    3     Bénin   0  0  0  0  0  0  0    0
 3    4  Botswana   0  0  0  0  0  0  0    0,
 'Group_E':   Rang              Équipe Pts  J  G  N  P Bp Bc Diff
 0    1             Algérie   0  0  0  0  0  0  0    0
 1    2        Burkina Faso   0  0  0  0  0  0  0    0
 2    3  Guinée équatoriale   0  0  0  0  0  0  0    0
 3    4              Soudan   0  0  0  0  0  0  0    0,
 'Group_F':   Rang         Équipe Pts  J  G  N  P Bp Bc Diff
 0    1       Cameroun   0  0  0  0  0  0  0    0
 1    2          Gabon   0  0  0  0  0  0  0    0
 2    3  Côte d'Ivoire   0  0  0  0  0  0  0    0
 3    4     Mozambique   0  0  0  0  0  0  0    0}

In [93]:
dict_table['Group_A']

  Rang   Équipe Pts  J  G  N  P Bp Bc Diff
0    1  Maroc H   0  0  0  0  0  0  0    0
1    2     Mali   0  0  0  0  0  0  0    0
2    3   Zambie   0  0  0  0  0  0  0    0
3    4  Comores   0  0  0  0  0  0  0    0

In [94]:
# corriger le nom du Maroc
dict_table['Group_A'].at[0,'Équipe'] = 'Maroc'

In [95]:
dict_table['Group_A']

  Rang   Équipe Pts  J  G  N  P Bp Bc Diff
0    1    Maroc   0  0  0  0  0  0  0    0
1    2     Mali   0  0  0  0  0  0  0    0
2    3   Zambie   0  0  0  0  0  0  0    0
3    4  Comores   0  0  0  0  0  0  0    0

In [96]:
# Simuler les matchs de groupe et mettre à jour les tableaux
for group in dict_table:
    # Convertir les colonnes numériques en float
    dict_table[group]['Pts'] = pd.to_numeric(dict_table[group]['Pts'], errors='coerce').fillna(0).astype(float)
    
    teams_in_group = dict_table[group]['Équipe'].values
    df_fixture_group_filtered = df_fixture_group[df_fixture_group['HomeTeam'].isin(teams_in_group)]
    
    for index, row in df_fixture_group_filtered.iterrows():
        home, away = row['HomeTeam'], row['AwayTeam']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Équipe'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Équipe'] == away, 'Pts'] += points_away

    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index(drop=True)
    dict_table[group] = dict_table[group][['Équipe', 'Pts']]
    dict_table[group]['Pts'] = dict_table[group]['Pts'].round(0)

print("Simulation des matchs de groupe terminée!")
dict_table['Group_A']

Simulation des matchs de groupe terminée!

    Équipe  Pts
0    Maroc  5.0
1   Zambie  5.0
2     Mali  4.0
3  Comores  2.0

In [97]:
dict_table

{'Group_A':     Équipe  Pts
 0    Maroc  5.0
 1   Zambie  5.0
 2     Mali  4.0
 3  Comores  2.0,
 'Group_B':            Équipe  Pts
 0          Égypte  6.0
 1  Afrique du Sud  5.0
 2          Angola  4.0
 3        Zimbabwe  2.0,
 'Group_C':      Équipe  Pts
 0   Nigeria  7.0
 1   Tunisie  5.0
 2   Ouganda  4.0
 3  Tanzanie  1.0,
 'Group_D':      Équipe  Pts
 0   Sénégal  7.0
 1  RD Congo  6.0
 2     Bénin  3.0
 3  Botswana  2.0,
 'Group_E':                Équipe  Pts
 0  Guinée équatoriale  5.0
 1             Algérie  5.0
 2        Burkina Faso  4.0
 3              Soudan  2.0,
 'Group_F':           Équipe  Pts
 0       Cameroun  6.0
 1  Côte d'Ivoire  6.0
 2          Gabon  4.0
 3     Mozambique  1.0}

In [98]:
df_fixture_8

,HomeTeam,AwayTeam,Year,HomeGoals,AwayGoals,match_number
36,1er du groupe D,3e du groupe B/E/F,2025,NaN,NaN,Match 37
37,2e du groupe A,2e du groupe C,2025,NaN,NaN,Match 38
38,1er du groupe A,3e du groupe C/D/E,2025,NaN,NaN,Match 39
39,2e du groupe B,2e du groupe F,2025,NaN,NaN,Match 40
40,1er du groupe B,3e du groupe A/C/D,2025,NaN,NaN,Match 41
41,1er du groupe C,3e du groupe A/B/F,2025,NaN,NaN,Match 42
42,1er du groupe E,2e du groupe D,2025,NaN,NaN,Match 43
43,1er du groupe F,2e du groupe E,2025,NaN,NaN,Match 44

In [99]:
# Créer un dictionnaire avec les résultats des groupes
group_results = {}
for group in dict_table:
    group_results[group] = {
        '1er': dict_table[group].loc[0, 'Équipe'],
        '2ème': dict_table[group].loc[1, 'Équipe'],
        '3ème': dict_table[group].loc[2, 'Équipe'] if len(dict_table[group]) > 2 else None
    }

print("Résultats des groupes:")
for group, results in group_results.items():
    print(f"{group}: 1er={results['1er']}, 2ème={results['2ème']}, 3ème={results['3ème']}")

Résultats des groupes:
Group_A: 1er=Maroc, 2ème=Zambie, 3ème=Mali
Group_B: 1er=Égypte, 2ème=Afrique du Sud, 3ème=Angola
Group_C: 1er=Nigeria, 2ème=Tunisie, 3ème=Ouganda
Group_D: 1er=Sénégal, 2ème=RD Congo, 3ème=Bénin
Group_E: 1er=Guinée équatoriale, 2ème=Algérie, 3ème=Burkina Faso
Group_F: 1er=Cameroun, 2ème=Côte d'Ivoire, 3ème=Gabon

In [100]:
# Créer un dictionnaire avec tous les 3èmes places disponibles
third_places = {}
for group in dict_table:
    if len(dict_table[group]) > 2:
        third_team = dict_table[group].loc[2, 'Équipe']
        third_points = dict_table[group].loc[2, 'Pts']
        third_places[group] = {
            'team': third_team,
            'points': float(third_points)
        }

# Trier les 3èmes places par points décroissants
sorted_third_places = sorted(third_places.items(), key=lambda x: x[1]['points'], reverse=True)

print("3èmes places classés par points:")
for idx, (group, data) in enumerate(sorted_third_places):
    group_letter = group.split('_')[1]
    print(f"{idx+1}. {data['team']} ({data['points']} pts) - Groupe {group_letter}")

# Créer un mapping des 3èmes qualifiés (les 4 meilleurs)
qualified_thirds = {}
for idx, (group, data) in enumerate(sorted_third_places[:4]):
    qualified_thirds[idx + 1] = {
        'team': data['team'],
        'group': group.split('_')[1]
    }

print("\n4 meilleurs 3èmes qualifiés:")
for rank, info in qualified_thirds.items():
    print(f"{rank}. {info['team']} (Groupe {info['group']})")

3èmes places classés par points:
1. Mali (4.0 pts) - Groupe A
2. Angola (4.0 pts) - Groupe B
3. Ouganda (4.0 pts) - Groupe C
4. Burkina Faso (4.0 pts) - Groupe E
5. Gabon (4.0 pts) - Groupe F
6. Bénin (3.0 pts) - Groupe D

4 meilleurs 3èmes qualifiés:
1. Mali (Groupe A)
2. Angola (Groupe B)
3. Ouganda (Groupe C)
4. Burkina Faso (Groupe E)

In [108]:
# Fonction complète pour remplacer tous les placeholders
def replace_all_placeholders(fixture_df, group_results, qualified_thirds, dict_table):
    df_replaced = fixture_df.copy()
    available_thirds = dict(qualified_thirds)  # Copie pour pouvoir modifier
    
    # D'abord, gérer les 3èmes places: trier par nombre d'options (moins d'options en premier)
    third_place_matches = []
    for index, row in df_replaced.iterrows():
        for col in ['HomeTeam', 'AwayTeam']:
            cell_value = str(row[col])
            if '3e du groupe' in cell_value:
                groups_in_option = [g.strip() for g in cell_value.split('3e du groupe ')[1].split('/')]
                third_place_matches.append((index, col, groups_in_option))
    
    # Trier par nombre d'options croissant (les plus restrictifs d'abord)
    third_place_matches.sort(key=lambda x: len(x[2]))
    
    # Traiter les 3èmes places dans cet ordre
    for index, col, groups_in_option in third_place_matches:
        rank_to_remove = None
        for rank, info in available_thirds.items():
            if info['group'] in groups_in_option:
                df_replaced.at[index, col] = info['team']
                rank_to_remove = rank
                break
        
        if rank_to_remove is not None:
            del available_thirds[rank_to_remove]
    
    # Ensuite, traiter les 1er et 2ème du groupe
    for index, row in df_replaced.iterrows():
        for col in ['HomeTeam', 'AwayTeam']:
            cell_value = str(row[col])
            
            if '1er du groupe' in cell_value and '3e' not in cell_value:
                group_letter = cell_value.split('1er du groupe ')[1]
                group_key = f'Group_{group_letter}'
                if group_key in group_results:
                    df_replaced.at[index, col] = group_results[group_key]['1er']
            
            elif '2e du groupe' in cell_value:
                group_letter = cell_value.split('2e du groupe ')[1]
                group_key = f'Group_{group_letter}'
                if group_key in group_results:
                    df_replaced.at[index, col] = group_results[group_key]['2ème']
    
    return df_replaced

# Appliquer la fonction à tous les matchs éliminatoires
df_fixture_8_with_teams = replace_all_placeholders(
    df_fixture_8, 
    group_results, 
    qualified_thirds, 
    dict_table
)

In [109]:
print("Huitièmes de finale avec équipes remplacées:")
print(df_fixture_8_with_teams[['HomeTeam', 'AwayTeam', 'match_number']])

Huitièmes de finale avec équipes remplacées:
              HomeTeam            AwayTeam match_number
36             Sénégal              Angola     Match 37
37              Zambie             Tunisie     Match 38
38               Maroc             Ouganda     Match 39
39      Afrique du Sud       Côte d'Ivoire     Match 40
40              Égypte                Mali     Match 41
41             Nigeria  3e du groupe A/B/F     Match 42
42  Guinée équatoriale            RD Congo     Match 43
43            Cameroun             Algérie     Match 44

In [112]:
#résoudre manuellement le problème du match 42
df_fixture_8_with_teams.loc[df_fixture_8_with_teams['match_number'] == 'Match 42', 'AwayTeam'] = "Burkina Faso"

In [113]:
print("Huitièmes de finale avec équipes remplacées:")
print(df_fixture_8_with_teams[['HomeTeam', 'AwayTeam', 'match_number']])

Huitièmes de finale avec équipes remplacées:
              HomeTeam       AwayTeam match_number
36             Sénégal         Angola     Match 37
37              Zambie        Tunisie     Match 38
38               Maroc        Ouganda     Match 39
39      Afrique du Sud  Côte d'Ivoire     Match 40
40              Égypte           Mali     Match 41
41             Nigeria   Burkina Faso     Match 42
42  Guinée équatoriale       RD Congo     Match 43
43            Cameroun        Algérie     Match 44

In [114]:
# Fonction pour déterminer le vainqueur de chaque match
def get_winner(df_fixture_updated):
    """
    Prédit le vainqueur de chaque match basé sur les probabilités
    """
    for index, row in df_fixture_updated.iterrows():
        home, away = row['HomeTeam'], row['AwayTeam']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.at[index, 'winner'] = winner
    return df_fixture_updated

# Ajouter une colonne 'winner' au dataframe des huitièmes
df_fixture_8_with_teams['winner'] = ''

# Appliquer la fonction
df_fixture_8_with_teams = get_winner(df_fixture_8_with_teams)

print("Huitièmes de finale avec gagnants prédits:")
print(df_fixture_8_with_teams[['HomeTeam', 'AwayTeam', 'match_number', 'winner']])

Huitièmes de finale avec gagnants prédits:
              HomeTeam       AwayTeam match_number              winner
36             Sénégal         Angola     Match 37             Sénégal
37              Zambie        Tunisie     Match 38              Zambie
38               Maroc        Ouganda     Match 39               Maroc
39      Afrique du Sud  Côte d'Ivoire     Match 40       Côte d'Ivoire
40              Égypte           Mali     Match 41              Égypte
41             Nigeria   Burkina Faso     Match 42             Nigeria
42  Guinée équatoriale       RD Congo     Match 43  Guinée équatoriale
43            Cameroun        Algérie     Match 44            Cameroun

In [115]:
def update_table(df_fixture_round_1, df_fixture_round_2):
    """
    Remplace les placeholders "Vainqueur Match X" par les vrais gagnants
    du tour précédent et initialise la colonne winner pour le prochain tour
    """
    df_updated = df_fixture_round_2.copy()
    
    # Pour chaque match du tour précédent
    for index, row in df_fixture_round_1.iterrows():
        winner = row['winner']
        match_num = row['match_number'].replace('Match ', '')  # Extraire le numéro
        placeholder = f'Vainqueur Match {match_num}'
        
        # Remplacer le placeholder dans HomeTeam et AwayTeam
        df_updated['HomeTeam'] = df_updated['HomeTeam'].replace(placeholder, winner)
        df_updated['AwayTeam'] = df_updated['AwayTeam'].replace(placeholder, winner)
    
    # Initialiser la colonne winner pour le prochain tour
    df_updated['winner'] = ''
    
    return df_updated

In [116]:
df_fixture_quarter_with_teams = update_table(df_fixture_8_with_teams, df_fixture_quarter)
print("Quarts de finale avec équipes remplacées:")
print(df_fixture_quarter_with_teams[['HomeTeam', 'AwayTeam', 'match_number']])

Quarts de finale avec équipes remplacées:
              HomeTeam  AwayTeam match_number
44              Zambie   Sénégal     Match 45
45       Côte d'Ivoire     Maroc     Match 46
46  Guinée équatoriale   Nigeria     Match 47
47              Égypte  Cameroun     Match 48

In [117]:
df_fixture_quarter_with_teams = get_winner(df_fixture_quarter_with_teams)
print("Quarts de finale avec gagnants prédits:")
print(df_fixture_quarter_with_teams[['HomeTeam', 'AwayTeam', 'match_number', 'winner']])

Quarts de finale avec gagnants prédits:
              HomeTeam  AwayTeam match_number         winner
44              Zambie   Sénégal     Match 45        Sénégal
45       Côte d'Ivoire     Maroc     Match 46  Côte d'Ivoire
46  Guinée équatoriale   Nigeria     Match 47        Nigeria
47              Égypte  Cameroun     Match 48         Égypte

In [118]:
df_fixture_semi_with_teams = update_table(df_fixture_quarter_with_teams, df_fixture_semi)
print("Demi-finales avec équipes remplacées:")
print(df_fixture_semi_with_teams[['HomeTeam', 'AwayTeam', 'match_number']])

Demi-finales avec équipes remplacées:
   HomeTeam       AwayTeam match_number
48  Sénégal         Égypte     Match 49
49  Nigeria  Côte d'Ivoire     Match 50

In [119]:
df_fixture_semi_with_teams = get_winner(df_fixture_semi_with_teams)
print("Demi-finales avec gagnants prédits:")
print(df_fixture_semi_with_teams[['HomeTeam', 'AwayTeam', 'match_number', 'winner']])

Demi-finales avec gagnants prédits:
   HomeTeam       AwayTeam match_number   winner
48  Sénégal         Égypte     Match 49   Égypte
49  Nigeria  Côte d'Ivoire     Match 50  Nigeria

In [120]:
def update_final(df_fixture_round_1, df_fixture_final):
    """
    Remplace les placeholders "Vainqueur Match X" et "Perdant Match X" 
    par les vrais gagnants et perdants du tour précédent (semi-finales)
    et initialise la colonne winner pour les finales
    """
    df_updated = df_fixture_final.copy()
    
    # Pour chaque match du tour précédent
    for index, row in df_fixture_round_1.iterrows():
        winner = row['winner']
        home_team = row['HomeTeam']
        away_team = row['AwayTeam']
        
        # Déterminer le perdant
        loser = away_team if winner == home_team else home_team
        
        match_num = row['match_number'].replace('Match ', '')  # Extraire le numéro
        winner_placeholder = f'Vainqueur Match {match_num}'
        loser_placeholder = f'Perdant Match {match_num}'
        
        # Remplacer les placeholders dans HomeTeam et AwayTeam
        df_updated['HomeTeam'] = df_updated['HomeTeam'].replace(winner_placeholder, winner)
        df_updated['HomeTeam'] = df_updated['HomeTeam'].replace(loser_placeholder, loser)
        
        df_updated['AwayTeam'] = df_updated['AwayTeam'].replace(winner_placeholder, winner)
        df_updated['AwayTeam'] = df_updated['AwayTeam'].replace(loser_placeholder, loser)
    
    # Initialiser la colonne winner pour les finales
    df_updated['winner'] = ''
    
    return df_updated

In [123]:
df_fixture_final_with_teams = update_final(df_fixture_semi_with_teams, df_fixture_final)
print("Finales avec équipes remplacées:")
print(df_fixture_final_with_teams[['HomeTeam', 'AwayTeam', 'match_number']])

Finales avec équipes remplacées:
   HomeTeam       AwayTeam match_number
50  Sénégal  Côte d'Ivoire     Match 51
51   Égypte        Nigeria     Match 52

In [124]:
df_fixture_final_with_teams = get_winner(df_fixture_final_with_teams)
print("Finales avec gagnants prédits:")
print(df_fixture_final_with_teams[['HomeTeam', 'AwayTeam', 'match_number', 'winner']])

Finales avec gagnants prédits:
   HomeTeam       AwayTeam match_number   winner
50  Sénégal  Côte d'Ivoire     Match 51  Sénégal
51   Égypte        Nigeria     Match 52   Égypte

In [126]:
# Résultats finals
final_match = df_fixture_final_with_teams[df_fixture_final_with_teams['match_number'] == 'Match 52'].iloc[0]
third_place_match = df_fixture_final_with_teams[df_fixture_final_with_teams['match_number'] == 'Match 51'].iloc[0]

champion = final_match['winner']
home_final = final_match['HomeTeam']
away_final = final_match['AwayTeam']
deuxieme = away_final if champion == home_final else home_final
troisieme = third_place_match['winner']

print("\n" + "="*50)
print("🏆 PODIUM FINAL CAN 2025 🏆")
print("="*50)
print(f"\n🥇 1ER PLACE  : {champion}")
print(f"🥈 2ème PLACE : {deuxieme}")
print(f"🥉 3ème PLACE : {troisieme}")
print("\n" + "="*50)

==================================================
🏆 PODIUM FINAL CAN 2025 🏆
==================================================

🥇 1ER PLACE  : Égypte
🥈 2ème PLACE : Nigeria
🥉 3ème PLACE : Sénégal

==================================================